<h1>List of staffs</h1>
<% if staffs.any? %>
  <% staffs.each do |staff| %>
    <%= staff.name %>
    <%= staff.phone_number %>
    <%= link_to "edit", edit_store_staff_path(@store, staff) %>
    <%= link_to "delete", store_staff_path(@store, staff), method: :delete, data: { confirm: 'Are you sure?'} %>
  <% end %>
<% else %>
  <h3>No staff available</h3>
<% end %>

<%= link_to 'Add staff', new_store_staff_path(@store) %>
