<h1>Staff details</h1>
<div>
  <table class="table table-striped">
    <tr><td><p>Name: <%= @staff.name %></p></td></tr>
    <tr><td><p>Phone number: <%= @staff.phone_number %></p></td></tr>
  </table>
</div>
<div id="options">
  <%= link_to "back", store_staffs_path(@store) %>
  <%= link_to "edit", edit_store_staff_path(@store,@staff) %>
  <%= link_to "delete", store_staff_path(@store,@staff), method: :delete, data: { confirm: 'Are you sure?'} %>
</div>