<h1>service detail</h1>
<p><%= @service.name %></p>
<p><%= @service.duration %></p>
<p><%= @service.price %></p>
<p><% if @is_admin %></p>
<%= link_to 'edit', edit_service_path(@service) %>
<%= link_to 'delete', @service, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>