<h1>service detail</h1>
<%= @service.name %>
<%= @service.duration %>
<%= @service.price %>
<%= link_to 'edit', edit_service_path(@service) %>
<%= link_to 'delete', @service, method: :delete, data: {confirm: 'Are you sure?'} %>