<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <p>Hi, <%= @appointment.name %></p>
  <p>You have make a appintment with us.The following is appointment details.</p>
  <p>If you think this appointment was made by mistake, please clike <a href="https://appt-booking.herokuapp.com/stores/<%= @appointment.store.id %>/appointments/<%= @appointment.id %>?token=<%= @appointment.token %>">here</a> to cancel or modify your appointment</p>
    <div>
      <table class="table table-striped">
        <tr><td><p>Name: <%= @appointment.name %></p></td></tr>
        <tr><td><p>Date: <%= @appointment.date_time.strftime('%Y-%m-%d') %></p></td></tr>
        <tr><td><p>Start time: <%= @appointment.date_time.strftime('%H:%M') %></p></td></tr>
        <tr><td><p>End time: <%= @appointment.end_time.strftime('%H:%M') %></p></td></tr>
        <tr><td><p>Appointment with: <%= @appointment.staff.name %></p></td></tr>
        <tr><td><p>Services: <%= @appointment.services.first.name %></p></td></tr>
        <tr><td><p>Address: <%= @appointment.store.location %></p></td></tr>
      </table>
    </div>
  <p>If you have any question, please contact us: <%= @appointment.store.phone_number %></p>
</body>
</html>