<table class="table table-hover">
  <tr class="info">
  <th>time</th>
  <% @staffs.each do |staff| %>
    <th><%= link_to staff.name, staff_appointments_path(@store, staff) %></th>
    <% end %>
  </tr>
  <% 24.times do |index| %>
    <% if index >= @store.open_hour.strftime('%H').to_i && index <= @store.close_hour.strftime('%H').to_i%>

    <tr>
      <td class="info"><%= time=('%02d' % index +':00')%></td>
        <% @staffs.each do |staff| %>
        <%if staff.available(date, index, 0) &&  !staff.is_blocked(Time.zone.parse("#{date} + #{time}")).any?%>
          <td class="table-success"><%= link_to 'book', new_store_appointment_path(@store, staff_id: staff.id, date_time: Time.zone.parse("#{date}+ #{time}")) %> | <%= link_to 'block', new_block_time_path(@store, staff, start_time: Time.zone.parse("#{date} + #{time}")), method: :post%></td>
        <% elsif staff.is_blocked(Time.zone.parse("#{date} + #{time}")).any? %>
            <td class="table-danger"><%= link_to 'unblock', delete_block_time_path(@store, id: staff.id, block_time_id: staff.is_blocked(Time.zone.parse("#{date} + #{time}")).ids), method: :delete %></td>
        <% else %>
          <td class="table-danger"><%= link_to 'view', store_appointment_path(@store, staff.find_appointment(date,time)) %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td class="info"><%= time=('%02d' % index +':30')%></td>
        <% @staffs.each do |staff| %>
        <%if staff.available(date, index, 30) &&  !staff.is_blocked(Time.zone.parse("#{date} + #{time}")).any? %>
          <td class="table-success"><%= link_to 'book', new_store_appointment_path(@store, staff_id: staff.id, date_time: Time.zone.parse("#{date}+ #{time}")) %> | <%= link_to 'block', new_block_time_path(@store, staff, start_time: Time.zone.parse("#{date} + #{time}")), method: :post%></td>
        <% elsif staff.is_blocked(Time.zone.parse("#{date} + #{time}")).any? %>
          <td class="table-danger"><%= link_to 'unblock', delete_block_time_path(@store, id: staff.id, block_time_id: staff.is_blocked(Time.zone.parse("#{date} + #{time}")).ids), method: :delete %></td>
        <% else %>
          <td class="table-danger"><%= link_to 'view', store_appointment_path(@store, staff.find_appointment(date,time)) %></td>
        <% end %>
      <% end %>
    </tr>

  <% end %>
<% end %>
</table>