<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<h1 class="page-header ">Empolyees</h1>
  <% @stores.each_with_index do |store,index| %>
    <h3 class="col-sm-9 col-md-offset-1">Empolyees Store #<%= index+1 %></h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</td>
        <th>Phone number</td>
        <th>Edit</td>
        <th>Delete</td>
      </tr>
    </thead>
    <% store.staffs.all.each do |staff| %>
    <tr>
      <td><%= link_to staff.name, store_staff_path(staff.store_id,staff) %></td>
      <td><%= staff.phone_number %></td>
      <td><%= link_to 'Edit',edit_store_staff_path(staff.store_id,staff) %></td>
      <td><%= link_to 'Delete', store_staff_path(staff.store_id,staff), method: :delete, data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </table>
<% end %>
</div>