<table>
  <tr>
  <th>time</th>
  <% @staffs.each do |staff| %>
    <th><%= link_to staff.name, staff_appointments_path(@store, staff) %></th>
    <% end %>
  </tr>
  <% 24.times do |index| %>
    <tr>
      <td><%= time=('%02d' % index +':00')%></td>
        <% @staffs.each do |staff| %>
        <%if staff.available(date, index, 0) %>
          <td><%= link_to 'book', new_store_appointment_path(@store, staff_id: staff.id, time: time, date: date) %></td>
        <% else %>
          <td><%= link_to 'view', store_appointment_path(@store, staff.find_appointment(date,time,0)) %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td><%= time=('%02d' % index +':30')%></td>
        <% @staffs.each do |staff| %>
        <%if staff.available(date, index, 30) %>
          <td><%= link_to 'book', new_store_appointment_path(@store, staff_id: staff.id, time: time, date: date) %></td>
        <% else %>
          <td><%= link_to 'view', store_appointment_path(@store, staff.find_appointment(date,time,30)) %></td>
        <% end %>
      <% end %>
    </tr>

  <% end %>
</table>