
<div class="container stores">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= image_tag("store.jpg", size:"250", class:"img-circle") %>
      <br>
      <br>
      <p><%= @store1.location %></p>
      <br>
      <p><a class="btn btn-default" href="/stores/1" role="button">Go to store &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= image_tag("store.jpg", size:"250", class:"img-circle") %>
      <br>
      <br>
      <p><%= @store2.location %></p>
      <br>
      <p><a class="btn btn-default" href="/stores/2" role="button">Go to store &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= image_tag("store.jpg", size:"250", class:"img-circle") %>
      <br>
      <br>
      <p><%= @store3.location %></p>
      <br>
      <p><a class="btn btn-default" href="stores/3" role="button">Go to store &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>