<%= form_for([@store,@appointment]) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %> 
    <%= f.text_field :name %> 
  </div>

  <div class="field">
    <%= f.label :"phone number" %> 
    <%= f.text_field :phone_number %> 
  </div>

  <div class="field">
    <%= f.label :email %> 
    <%= f.email_field :email %> 
  </div>

  <div class="field">
    <%= f.label :date %> 
    <%= f.date_field :date %> 
  </div>

  <div class="field">
    <%= f.label :time %> 
    <%= f.time_field :time %> 
  </div>

  <div class="field">
    <%= f.label :staff %> 
    <%= f.select :staff_id, @staffs.collect { |staff| [staff.name, staff.id]} %> 
  </div>

  <div class="field">
    <%= f.label :service %> 
    <%= f.select :service_ids, @services.collect { |service| [service.name, service.id]} %> 
  </div>

  <div class="action">
    <%= f.submit %>
  </div>
<% end %>