<h1>Appointments</h1>
<% @appointments.each do |app| %>
  <p>name: <%= app.name %></p>  
  <p>date: <%= app.date_time.strftime('%Y-%m-%d') %></p>  
  <p>time: <%= app.date_time.strftime('%H:%M') %></p>  
  <p>phonenumber: <%= app.phone_number %></p>  
  <p>staff: <%= app.staff.id %></p>  
<% end %>