<h1>Appointment details</h1>
  <div>
    <table class="table table-striped">
      <tr><td><p>Name: <%= @appointment.name %></p></td></tr>
      <tr><td><p>Phone number: <%= @appointment.phone_number %></p></td></tr>
      <tr><td><p>Date: <%= @appointment.date_time.strftime('%Y-%m-%d') %></p></td></tr>
      <tr><td><p>Start time: <%= @appointment.date_time.strftime('%H:%M') %></p></td></tr>
      <tr><td><p>End time: <%= @appointment.end_time.strftime('%H:%M') %></p></td></tr>
      <tr><td><p>Appointment with: <%= @appointment.staff.name %></p></td></tr>
      <tr><td><p>Services: <%= @appointment.services.first.name %></p></td></tr>
    </table>
  </div>
<div id="options">
  <%= link_to 'Edit', edit_store_appointment_path(@store,@appointment) %>
  <%= link_to 'Cancel appointment', store_appointment_path(@store,@appointment), data: { confirm: 'Are you sure?'}, method: :delete %>

  <% if @is_admin %>
    <%= link_to 'Back to calendar', store_schedule_path(@store,@appointment.date_time.strftime('%Y-%m-%d')) %>
  <% end %>
</div>