<h1 class="page-header">Appointments for <%= @staff.name %></h1>
<table class="table table-hover">
  <tr>
    <th>Date</th>
    <th>Start</th>
    <th>End</th>
    <th>name</th>
    <th>Phone number</th>
  </tr>
<% if @appointments.any? %>
  <% @appointments.each do |app| %>
  <tr>
  <td>
    <p><%= link_to app.date_time.strftime('%Y-%m-%d'), store_appointment_path(@store,app) %></p>
  </td>
  <td>
    <p><%= link_to app.date_time.strftime('%H:%M'), store_appointment_path(@store,app) %></p>
  </td>
  <td>
    <p><%= link_to app.end_time.strftime('%H:%M'), store_appointment_path(@store,app) %></p>
  </td>
  <td>
    <p><%= link_to app.name, store_appointment_path(@store,app) %></p>
  </td>
  <td>
    <p><%= link_to app.phone_number, store_appointment_path(@store,app) %></p>
  </td>
  </tr>
    <br>
  <% end %>
<% else %>
  <h3>No appointment yet</h3>
<% end %>
</table>