<!DOCTYPE html>
<html>
  <head>
    <title>Booking</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/">Booking</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Services', services_path %></li>
            <li><%= link_to 'Reservation', new_store_appointment_path(1) %></li>
            <li><%= link_to 'Staffs',store_staffs_path(1) %></li>
            <li><%= link_to 'Direction', stores_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <% if current_user.has_role? :admin %>
                <li><%= link_to 'All appointments', show_appointments_path %></li>
                <li><%= link_to 'Go to calendar', store_schedule_path(1,Date.today) %></li>
                <li><%=link_to "Hello, #{current_user.name} !",show_appointments_path %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li> 
                <% else %>
                <li><%=link_to "Hello, #{current_user.name} !",customer_appointments_path %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li> 
                <% end %>
            <% else %>
              <li><%= link_to 'Register', new_user_registration_path %></li> 
              <li><%= link_to 'Login', new_user_session_path %></li> 
            <% end %>
          </ul>
        </nav>
  <body>
    <div class="container">
    <br>
    <br>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-warning text-center" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
